<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mieventoapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiEventoAPP">
        <activity
            android:name=".ventanas.EventDescriptionFav"
            android:exported="false" />
        <activity
            android:name=".ventanas.ModificarEvento"
            android:exported="false" />
        <activity
            android:name=".ventanas.AgregarEvento"
            android:exported="false" />
        <activity
            android:name=".ventanas.EventDescriptionOrg"
            android:exported="false" />
        <activity
            android:name=".ventanas.EventDescriptionAs"
            android:exported="false" />
        <activity
            android:name=".ventanas.GestionarEventosOrg"
            android:exported="false" />
        <activity
            android:name=".ventanas.CrearCuentaOrg"
            android:exported="false" />
        <activity
            android:name=".ventanas.ModificarPerfilOrg"
            android:exported="false" />
        <activity
            android:name=".ventanas.MenuOrganizador"
            android:exported="false" />
        <activity
            android:name=".eventdata.VentanaTickets"
            android:exported="false" />
        <activity
            android:name=".ventanas.MenuAdmin"
            android:exported="false" />
        <activity
            android:name=".ventanas.CuentasBloqueadas"
            android:exported="false" />
        <activity
            android:name=".ventanas.EventosGuardadosAsistente"
            android:exported="false" />
        <activity
            android:name=".ventanas.ModificarPerfilAsistente"
            android:exported="false" />
        <activity
            android:name=".ventanas.FeedAsistente"
            android:exported="false" />
        <activity
            android:name=".ventanas.MenuAsistente"
            android:exported="false" />
        <activity
            android:name=".ventanas.CrearCuenta"
            android:exported="false" />
        <activity
            android:name=".ventanas.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>